html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 51px;
  margin-bottom: 120px;
  overflow-x: hidden;
  font-family: 'Raleway', 'Segoe UI', sans-serif;
}

/*************************
Adv Search
**************************/
#advSearch {
  position: fixed;
  left: 15px;
  right: 15px;
  background-color: white;
  padding-bottom: 12px;
  border-bottom: 1px solid #dbdbdb;
  z-index: 2;
}

/****
Forms
****/

.searchBtn {
  background-color: #1A51A3;
  border-color: #1A51A3;
}

.searchBtn:hover, .searchBtn:focus {
  background-color: #082E67;
  border-color: #082E67;
}

#closeSearch {
  background-color: #f86d13;
  border-color: #f86d13;
}

#closeSearch:hover, #closeSearch:focus {
  background-color: #C64F02;
  border-color: #C64F02;
}

@media (max-width: 768px) {
  #introSearch {
    max-width: 90%;
  }
}

.currentLocationToggleLabel {
  padding-top: 5px;
  margin-left: 68px;
}

.toggle-input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.toggle-input + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.toggle-input + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.toggle-input + label:before, input.toggle-input + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.toggle-input + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.toggle-input + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 26px;
  background-color: #dddddd;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.toggle-input:checked + label {
  background-color: #8ce196;
}
input.toggle-input:checked + label:after {
  margin-left: 25px;
  background-color: #8ce196;
}

/**************
Maruee trendbar
**************/

#trendBar {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 35s linear infinite;
}

#trendBar:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*******************************
Spinner
*******************************/
.spinner {
  position: fixed;
  bottom: 57%;
  right: 50%;
  z-index: 1;
  background: transparent;
  box-shadow: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #F86D13;
  border-bottom-color: #F86D13;
  animation: spinner .8s ease infinite;
}

/*****
Footer
*****/

footer {
  margin-top: 55px;
  padding-bottom: 15px;
  border-top: 1px solid #dbdbdb;
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100%;
}

/***************
Branding classes
***************/

.brandOrange {
  color: #F86D13;
}

.brandFont {
  font-family: 'Lobster', cursive;
}

.navbar-brand, #brandLetter {
  font-family: 'Lobster', cursive;
  color: #F86D13;
  font-size: 32px;
  margin-bottom: 0;
  padding-top: 12px;
}

/**************************************
Jumbotron styling for initial page load
**************************************/
.jumbotron {
  margin-bottom: 0;
}

.introTron {
  background-color: #FFC96D;
  padding-left: 4em;
}

.trendingTron {
  background-color: transparent;
  padding-right: 4em;
}

/**************
Utility classes
**************/

.isHidden {
  display: none;
}

a:hover {
  cursor: pointer;
}

.socialMediaIcon {
  max-width: 16px;
}

/******************
Google maps styling
******************/

.infoWindow {
  margin: 0;
}

.infoWindow .thumbnail {
  border: none;
  margin-bottom: 0;
  overflow-x: hidden;
  max-width: 300px;
}

.infoWindow #eventImage {
  max-width: 250px;
}

.infoWindow ul, ol {
  list-style: none;
}

#map {
  height: 100%;
  width: 100%;
}

#content {
  height: 35vh;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 4px 1px;
  z-index: 1;
}

.ui-widget-content {
  border: none;
}

/********************************
Table display area
********************************/
#overflowContent {
  position: relative;
  top: 350px;
}

/*******************************
Pagination
*******************************/
#paginator {
  position: absolute;
}
