html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 51px;
  margin-bottom: 60px;
}

#trendBar {
  background-color: #222222;
  color: #ffffff;
}

footer {
  margin-top: 55px;
  border-top: 1px solid #dbdbdb;
  position: absolute;
  bottom: 0;
  height: 60px;
  /*background-color: #222222;*/
  width: 100%;
  /*font-family: 'Lobster', cursive;*/
  font-weight: 200;
}

footer * {
  margin-bottom: 0;
}

.navbar-brand, #brandLetter {
  font-family: 'Lobster', cursive;
  color: #F86D13;
  font-size: 32px;
  margin-bottom: 0;
  padding-top: 12px;
}

.isHidden {
  display: none;
}

.infoWindow {
  margin: 0;
}

.infoWindow .thumbnail {
  border: none;
  margin-bottom: 0;
  overflow-x: hidden;
  max-width: 300px;
}

.infoWindow #eventImage {
  max-width: 250px;
}

.infoWindow ul, ol {
  list-style: none;
}

a:hover {
  cursor: pointer;
}
