html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 55px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  background-color: #f5f5f5;
  width: 100%;
}

.isHidden {
  display: none;
}

.infoWindow {
  margin: 0;
}

.infoWindow .thumbnail {
  border: none;
  margin-bottom: 0;
  overflow-x: hidden;
  max-width: 300px;
}

.infoWindow #eventImage {
  max-width: 250px;
}

.infoWindow ul, ol {
  list-style: none;
}

a:hover {
  cursor: pointer;
}
